<div class="slider">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="26"
    height="26"
    fill="currentColor"
    class="bi bi-arrow-left-circle-fill previousButton"
    viewBox="0 0 16 16"
    (click)="onPrevious()"
  >
    <path
      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
    />
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="26"
    height="26"
    fill="currentColor"
    class="bi bi-arrow-right-circle-fill nextButton"
    viewBox="0 0 16 16"
    (click)="onNext()"
  >
    <path
      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
    />
  </svg>

  <div class="slider-container">
    <div
      class="card"
      *ngFor="let item of containerArrayBlock; let i = index"
      ngClass="{{ getClass(i) }}"
    >
      <div class="title">{{ sliderData[i].title }}</div>
      <img [src]="sliderData[i].imageUrl" class="image" alt="" />
    </div>
  </div>
</div>
